@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m6qays');
  src:  url('../fonts/icomoon.eot?m6qays#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?m6qays') format('truetype'),
    url('../fonts/icomoon.woff?m6qays') format('woff'),
    url('../fonts/icomoon.svg?m6qays#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
  color: #fff;
}
.icon-display:before {
  content: "\e901";
  color: #fff;
}
.icon-pencil:before {
  content: "\e902";
  color: #fff;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}
img {
    max-width: 100%;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/* =Footer */
.footer {
    font-size: 1.2rem;
    color: #666666;
    text-align: center;
    padding: 1.5em 5rem;
    border-top: 1px solid #e5e5e5;
}
.footer p {
    margin: 0;
}
@media (min-width: 640px) {
    .footer {
        font-size: 1.6rem;
        color: #666666;
        text-align: center;
        padding: 3em 5rem;
    }
}
/* Footer */

/* =Content */
.content {
    background: #fff;
}
@media (min-width: 640px) {
    .content {
        background: #333333;
    }
}
.content-inner {
    padding: 2.1rem 5rem 2rem;
    color: #666;
}
.content-inner > * {
    margin: 0;
}
.content-img {
    display: block;
    margin: auto;
    width: 10.2rem;
    height: auto;
}
.content-inner h1 {
    font-size: 2.1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.content-inner h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.content-inner p {
    font-size: 1.1rem;
    line-height: 1.74;
    display: inline;
}
@media (min-width: 640px) {
    .content-inner {
        padding: 2.3rem 5rem 3.1rem;
        color: #aaa;
    }
    .content-inner > * {
        margin: 0;
    }
    .content-img {
        float: left;
        margin: 2.8rem 9.8rem 1.9rem 1.6rem;
        width: 37.1rem;
        height: 27.9rem;
    }
    .content-inner h1 {
        font-size: 4.2rem;
        margin-bottom: 0.3rem;
        text-align: left;
    }
    .content-inner h2 {
        font-size: 2.6rem;
        margin-bottom: 2rem;
    }
    .content-inner p {
        font-size: 1.5rem;
        line-height: 1.74;
        display: block;
    }
    #disp-none {
        display: none;
    }
}
/* Content */

/* =Features */
.features .features-list {
    padding: 0;
    max-width: 1072px;
}
@media (min-width: 640px) { 
    .features .features-list {
        padding: 6.5rem 0 4.3rem;
        max-width: 1072px;
    }
}
.features-list li,
.features-list li > * {
    margin: 0;
}
.features-list li {
    padding: 1.7rem 1.6rem 0.9rem 2.3rem;
    border-bottom: solid 1px #cccccc;
    list-style: none;
    overflow: hidden;
}
@media (min-width: 640px) {
    .features-list li {
        list-style: none;
        float: left;
        width: 33.3%;
        text-align: center;
        border: 0;
        padding: 0;
    }
}
.features-list .features-img {
    width: 6.8rem;
    height: 6.8rem;
    margin-right: 1.3rem;
    border-radius: 50%;
    position: relative;
    float: left;
}
@media (min-width: 640px) {
    .features-list .features-img {
        width: 18.6rem;
        height: 18.6rem;
        margin: auto;
        border-radius: 50%;
        position: relative;
        float: none;
    }
}
.features-img [class^="icon-"] {
     font-size: 3.6rem;
     color: #fff;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
 }

@media (min-width: 640px) {
    .features-img [class^="icon-"] {
     font-size: 8.1rem;
    }
}
.features-list li:first-child .features-img {
    background: #5094f2;
}
.features-list li:nth-child(2) .features-img {
    background: #d94748;
}
.features-list li:last-child .features-img {
    background: #ebbb11;
}
.features-list h3 {
    color: #5094f2;
    font-size: 1.7rem;
    margin: 1.3rem 0 0 0;
}
@media (min-width: 640px) {
    .features-list h3 {
        color: #5094f2;
        font-size: 2rem;
        margin: 2.2rem 3rem 0 3rem;
    }
}
.features-list p {
    color: #666666;
    font-size: 1.1rem;
    line-height: 1.2;
    margin: 0;
}
@media (min-width: 640px) {
    .features-list p {
        color: #666666;
        font-size: 1.5rem;
        line-height: 1.74;
        margin: 0rem 4rem 0 4rem;
    }
}
/* Features */

/* =Carousel */
.carousel {
    background: url(../img/carousel-background.jpg) no-repeat 0 0 fixed;
    background-size: cover;
    overflow: hidden;
    max-height: 48.2rem;
}
@media (min-width: 640px) {
    .carousel {
        background: url(../img/battlement.png) repeat-x 0 100%, url(../img/carousel-background.jpg) no-repeat 0 0 fixed;
        background-size: 12px 8px, cover;
    }
}
.carousel,
.carousel a {
    color: #fff;
}
.carousel-inner {
    padding: 1rem 0 0.6rem 0;
    position: relative;
}
@media (min-width: 640px) {
    .carousel-inner {
        padding: 4rem 0 1rem 0;
    }
}
.carousel-slides,
.carousel-slides li,
.carousel-slides li > div > * {
    margin: 0;
    padding: 0;
}
.carousel-slides li {
    list-style: none;
    overflow: hidden;
}
.carousel-img {
    float: left;
    width: 30.3%;
    text-align: right;
}
@media (min-width: 640px){
    .carousel-img {
        width: 39.3%;
    }
}
.carousel-content {
    float: right;
    width: 55%;
}
@media (min-width: 640px) {
    .carousel-content {
        margin-top: 10.4%;
    }
}
.carousel-slides h3 {
    font-size: 1.5rem;
}
.carousel-slides p {
    font-size: 1.1rem;
    line-height: 1.73;
}
@media (min-width: 640px) {
    .carousel-slides h3 {
        font-size: 4.2rem;
    }
    .carousel-slides p {
        font-size: 2.6rem;
    }
}
.carousel-slides .carousel-button {
    font-size: 1.3rem;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    margin-top: 1.4rem;
    padding: 0.7rem 1.3rem 0.7rem 3rem;
    background: #5094f2;
    position: relative;
}
@media (min-width: 640px) {
    .carousel-slides .carousel-button {
        font-size: 2.2rem;
        margin-top: 2.9rem;
        padding: 0.7rem 1rem 1.2rem 4.6rem;
        border-radius: 0.3rem;
    }
}
.carousel-slides .carousel-button:before {
    content: '';
    width: 1.6rem;
    height: 1.6rem;
    background: #5094f2 url(../img/sprite.png) no-repeat -1px -62px;
    background-size: 18px 80px;
    border-radius: 50%;
    position: absolute;
    left: 0.8rem;
    top: 50%;
    margin-top: -0.9rem;
}
@media (min-width: 640px) {
    .carousel-slides .carousel-button:before {
        content: '';
        width: 2.7rem;
        height: 2.7rem;
        background: #5094f2 url(../img/sprite.png) no-repeat 1px -74px;
        border-radius: 50%;
        position: absolute;
        left: 1.1rem;
        top: 50%;
        margin-top: -1.5rem;
    }
}
.carousel-button:hover {
    color: #5094f2;
    background: #fff;
}
.carousel-control {
    position: absolute;
    width: 2.5rem;
    height: 6rem;
    top: 50%;
    margin-top: -1.4rem;
    background: url(../img/sprite.png) no-repeat 0 0;
    cursor: pointer;
}
.carousel-prev {
    margin-left: -5rem;
}
.carousel-next {
    right: 0;
    margin-right: -5rem;
    transform: rotate(180deg);
}
/* Carousel */

/* =Header */
.header {
    padding: 2.5rem 0 0 0;
    min-height: 6.5rem;
}
.header-logo {
    float: left;
    width: 9.1rem;
}
.header-logo img {
    height: auto;
}
@media screen and (min-width: 640px) {
    .header-logo {
        width: 15.5rem;
        padding-left: 0.1rem;
    }
}
.header-menu,
.header-menu li {
    list-style: none;
    margin: 0;
}
.header-menu {
    float: right;
    font-size: 0;
    letter-spacing: -0.013rem;
}
.header-menu li {
    margin-right: 4rem;
    display: block;
    border-bottom: solid 3px #fff;
    position: relative;
}
@media screen and (min-width: 640px) {
    .header-menu li {
        margin-left: 4rem;
        display: inline-block;
        border-bottom: solid 3px #fff;
        position: relative;
    }
}
.header-menu a {
    color: #6c6c6c;
    font-size: 2rem;
    line-height: 1;
    text-decoration: none;
    display: block;
    padding: 2.5rem 0 1.7rem 0;
}
@media screen and (max-width: 640px) {
    .header-menu .header-submenu {
        width: 100%;
        display: block;
        position: static;
    }
    .header-menu li {
        border-top: solid 1px #ccc;
    }
}
@media screen and (min-width: 640px) {
    .header-menu {
        float: right;
    }
    .header-menu li {
        margin-left: 4rem;
        display: inline-block;
    }
    .header-menu a {
        display: inline-block;
    }
}
.header-menu li.active {
    border-color: #5094f2;
}
.header-menu a:hover {
    color: #5094f2;
}
.header-submenu, .header-submenu li {
    margin: 0;
    padding: 0;
}
.header-submenu li {
    display: block;
}
.header-submenu {
    right: 0;
    position: absolute;
    width: 22.7rem;
    background: rgba(80, 148, 242, 0.8);
    display: none;
    z-index: 1;
}
.header-submenu a {
    color: #fff;
    display: block;
    padding: 1rem 1.1rem;
    font-size: 2rem;
}
li:hover .header-submenu {
    display: block;
}
.mobile-menu-toggle {
    float: right;
}
@media (min-width: 640px) {
    .mobile-menu-toggle {
        display: none;
    }
    .header-menu {
        clear: none;
    }
}
@media (max-width: 640px) {
    .header {
        min-height: 4.5rem;
        padding-top: 1.1rem;
    }
    .header-menu {
        display: none;
    }
    .active.header-menu {
        display: block;
    }
}
* {
    box-sizing: border-box;
}
/* Header */

/* =Containers */
.header,
.carousel-inner,
.features-list,
.footer,
.content-inner,
.hero-title, 
.contact,
.hero-services-title,
div.services,
.hero-about-us-title {
    max-width: 967px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}
@media and (min-width: 768px) {
    .header,
    .carousel-inner,
    .features-list,
    .footer,
    .content-inner,
    .contact-content,
    .contact-us-c  {
        padding-left: 0;
        padding-right: 0;
    }
}
/* Containers */

/*=content-hero*/
.hero {
    background: url(../img/contact-hero.png) no-repeat 0 100%;
    background-size: cover;
    overflow: hidden;
    height: 48.5rem;
    position:relative;
}
.hero:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(24,44,72,0.7);
    position: absolute;
}
.hero-title h1 {
    position: relative;
    font-size: 4.2rem;
    padding-top: 12rem;
    margin: 0;
}
.hero-title p {
    position: relative;
    font-size: 3rem;
    max-width: 48.4rem;
    margin: 1rem 0;
}
/*content-hero*/
/*=contact*/
.main-contact {
    background-color: rgb(68,85,108);
    color: white;
}
.contact h2 {
    font-size: 4.2rem;
    margin: 2rem 0 1rem 0;
}
.contact h3 {
    text-transform: uppercase;
    font-size: 2.6rem;
    margin: 0 0 1rem 0;
}
.contact-forms h3 {
    color: rgb(170,170,170);
}
.contact-us-c .select-wrapper {
    width: 209px;
}
.contact label {
    text-transform: uppercase;
    display: block;
    font-size: 1.4rem;
    margin: 0.5rem 0;
}
.select2-container--default .select2-selection--single {
    border-radius: 0;
    height: 2rem;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.8rem;
    color: rgba(120,127,137,0.5);
    font-size: 1.4rem;
    padding-left: 0.4rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1.8rem;
}
.select2-container {
    width: 21.3rem!important;
}
.contact input{
    width: 20.5rem;
    height: 1.6rem;
    padding-left: 0.4rem;
}
#email {
    margin-left: 2rem;
}
::-webkit-input-placeholder {
    color: rgb(120, 127, 137);
    font-size: 1.4rem;
}
::-moz-placeholder {
    color: rgb(120, 127, 137);
    font-size: 1.4rem;
}/* Firefox 19+ */
:-moz-placeholder {
    color: rgb(120, 127, 137);
    font-size: 1.4rem;
}/* Firefox 18- */
:-ms-input-placeholder {
    color: rgb(120, 127, 137);
    font-size: 1.4rem;
}
.contact textarea {
    width: 44rem;
    height: 8.5rem;
    resize: none;
    padding-left: 0.4rem;
}
.contact button {
    display: block;
    width: 9.5rem;
    height: 4rem;
    background-color: rgb(80,148,242);
    color: white;
    font-size: 2.2rem;
    border: 0px;
    border-radius: 0.2rem;
    margin: 1rem 0 3rem 0;
}
.contact-forms {
    float: left;
    padding-right: 4rem;
}
.adress p, 
.adress span {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}
.adress span:last-child:before {
    content: '';
    border-left: 0.2rem solid white;
    margin: 0 1rem;
}
.adress {
    float: right;
    padding-top: 9rem;
}
/*contact*/

/*=services*/
.hero-services {
    background: url(../img/office.png) no-repeat 0 100%;
    background-size: cover;
    overflow: hidden;
    height: 48.5rem;
    position:relative;
}
.hero-services:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(80,148,242,0.8);
    position: absolute;
}
.hero-services-title h1 {
    position: relative;
    font-size: 4.2rem;
    padding-top: 12rem;
    margin: 0;
}
.hero-services-title p {
    position: relative;
    font-size: 3rem;
    max-width: 48.4rem;
    margin: 1rem 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border-bottom: solid 1px rgb(80,148,242);
    width: 100%;
}
td {
    border-top: solid 1px rgb(80,148,242);
}
.plan-name {
    font-size: 2.2rem;
    padding-right: 3rem;
}
.plan-description {
    max-width: 47.5rem;
    padding-right: 3rem;
}
.plan-description h4 {
    font-size: 1.6rem;
}
.plan-description p {
    font-size: 1.4rem;
    color: rgb(170,170,170);
}
.plan-price {
    font-size: 1.6rem;
    color: rgb(80,148,242);
    padding-right: 4.5rem;
    font-weight: bold;    
}
a.button {
    text-decoration: none;
    color: white;
    border-radius: 0.2rem;
    background-color: rgb(80,148,242);
    font-size: 2.2rem;
    padding:0.5rem 1.7rem 0.6rem 1.6rem;
}
.services img {
    margin: 2.5rem 0.5rem 3rem 0;
    float: left;
}
.services h2 {
    font-size: 1.7rem;
    color: rgb(170,170,170);
    margin: 2rem 0 0.5rem 0;
}
.services span{
    color: rgb(170,170,170);
    font-size: 1.1rem;
}
.call-us{
    float: right;
    max-width: 60%;
}
@media (min-width: 640px) {
    .services h2 {
        font-size: 4.2rem;
        margin: 4rem 0 1rem 0;
    }
    .services span{
        font-size: 1.8rem;
        display: inline;
    }
    .services img {
        margin: 2.5rem 3rem 6rem 0;
        float: left;
    }
    .call-us{
        float: left;
        max-width: 75%;
    }
}

/*services*/

/*=off canvas*/
.off-canvas-menu {
    background: #5094f2;
    position: fixed;
    top: 50%;    
    font-size: 2rem;
    transform: translateX(-98%) translateY(-50%);
    transition: transform 0.3s;
}
.off-canvas-menu, .off-canvas-menu li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.off-canvas-menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
}
.off-canvas-menu:hover {
    transform: translate(0, -50%)
}
/*off canvas*/

/*=accordion*/
.accordion-row {
    display: none;
}
@media (min-width: 640px) {
    .accordion-headline,
    .accordion-body {
        padding: 1.4rem 2rem;
        border-radius: 0.9rem;
        color: rgb(51,51,51);
    }
    .accordion-headline {
        cursor: pointer;
        margin: 0.1rem 0;
        background: rgb(80,148,242);
        font-size: 1.8rem;
        font-weight: 800;
    }

    .accordion-headline:after {
        content: '';
        width: 2rem;
        height: 1.7rem;
        background: url(../img/%D1%81%D1%82%D1%80%D0%B5%D0%BB%D0%BA%D0%B0-%D0%B0%D0%BA%D0%BA%D0%BE%D1%80%D0%B4%D0%B8%D0%BE%D0%BD.png) no-repeat;
        position: static;
        float: right;
        transform: rotate(270deg);
        top: 50%;
        margin-top: 0.4rem;
    }
    .accordion-body {    
        background: rgb(255,255,255);
        display: none;
        font-size: 1.5rem;
    }
    .active .accordion-body {
        display: block;
    }
    .accordion-row {
        margin-left: 50%;
        display: block;
    }
}
/*accordion*/

/*=contact-about*/
.hero-about-us {
    background: url(../img/our-team.png) no-repeat 0 100%;
    background-size: cover;
    overflow: hidden;
    height: 48.5rem;
    position:relative;
}
.hero-about-us:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,106,155,0.7);
    position: absolute;
}
.hero-about-us-title h1 {
    position: relative;
    font-size: 4.2rem;
    padding-top: 12rem;
    margin: 0;
}
.hero-about-us-title p {
    position: relative;
    font-size: 3rem;
    max-width: 48.4rem;
    margin: 1rem 0;
}
/*contact-about*/
.about {
    margin-top: -30px;
    background: #fff;
    color: rgb(51,51,51);
}
.about-inner {
    max-width: 967px;
    margin: auto;
    padding-top:3.5rem; 
    padding-bottom: 11.5rem;
}
.about-inner h1 {
    font-size: 4.2rem;
    color: rgb(80,148,242);
}
span[data-tooltip] {
    font-weight: bold;
}
.about-content{
	font-size: 1.6rem;
    line-height: 1.5;
}
[data-tooltip] {
    cursor: pointer;
    font-weight: bold;
    position: relative;
}
.tooltiptext h1 {
    line-height: 1;
    font-size: 2.5rem;
    color: rgb(80,148,242);
}
.tooltiptext div {
    line-height: 1.4;
    font-size: 1.8rem;
    color: rgb(51,51,51);
}
.tooltiptext {
    display: none;
}
.qtip {
    max-width: 42.5rem;
    max-height: 27.rem;
}
.tooltip-img img {
    max-width: 21rem;
    display: block;
    margin: auto;
}